{% extends "App1/base.html" %}

{% load static %}

{% block title %}
    Política de Privacidad
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <h1>Política de Privacidad</h1>
    <p>
        Política de Privacidad
        Última actualización: [Fecha]
        
        En [Nombre de la Empresa o Sitio Web] ("nosotros", "nuestro" o "nos"), nos comprometemos a proteger su privacidad. Esta Política de Privacidad explica cómo recopilamos, usamos, divulgamos y protegemos su información personal cuando visita nuestro sitio web [URL del Sitio Web] ("Sitio Web") y utiliza nuestros servicios. Al utilizar nuestro Sitio Web, usted acepta los términos de esta Política de Privacidad.
        
        1. Información que Recopilamos
        1.1 Información Personal
        
        Podemos recopilar información personal identificable que usted nos proporcione de forma voluntaria, como su nombre, dirección de correo electrónico, número de teléfono y cualquier otra información que decida compartir con nosotros a través de formularios de contacto, suscripciones a boletines informativos, y otras interacciones con nuestro Sitio Web.
        
        1.2 Información de Uso
        
        Recopilamos información sobre su interacción con nuestro Sitio Web, como su dirección IP, tipo de navegador, páginas visitadas, tiempo de acceso y otras estadísticas relacionadas con el uso del sitio.
        
        1.3 Cookies y Tecnologías Similares
        
        Utilizamos cookies y tecnologías similares para mejorar su experiencia en nuestro Sitio Web, analizar el uso del sitio y personalizar el contenido. Las cookies son archivos de texto que se almacenan en su dispositivo y que nos permiten reconocerlo en futuras visitas. Puede configurar su navegador para rechazar cookies, pero esto puede afectar su capacidad para utilizar ciertas funciones del Sitio Web.
        
        2. Uso de la Información
        2.1 Proporcionar y Mejorar Nuestros Servicios
        
        Utilizamos la información recopilada para proporcionarle nuestros servicios, responder a sus consultas, mejorar nuestro Sitio Web y personalizar su experiencia.
        
        2.2 Comunicaciones
        
        Podemos usar su información para enviarle actualizaciones sobre nuestro Sitio Web, promociones, y otros contenidos relevantes. Puede optar por no recibir estas comunicaciones en cualquier momento siguiendo las instrucciones de cancelación de suscripción incluidas en los mensajes que le enviamos.
        
        2.3 Cumplimiento Legal
        
        Podemos divulgar su información si es necesario para cumplir con obligaciones legales, responder a solicitudes de las autoridades o proteger nuestros derechos y los de terceros.
        
        3. Compartición de la Información
        No compartimos su información personal con terceros, salvo en los casos descritos en esta Política de Privacidad. Podemos compartir su información con proveedores de servicios que trabajan en nuestro nombre para ofrecerle servicios específicos, pero estos proveedores están obligados a proteger su información y solo pueden usarla para los fines para los que fueron contratados.
        
        4. Seguridad
        Implementamos medidas de seguridad razonables para proteger su información personal contra el acceso no autorizado, la divulgación, la alteración o la destrucción. Sin embargo, ningún sistema de transmisión de datos o método de almacenamiento electrónico es 100% seguro, por lo que no podemos garantizar una seguridad absoluta.
        
        5. Sus Derechos
        Dependiendo de su ubicación, usted puede tener ciertos derechos sobre su información personal, incluyendo el derecho a acceder, corregir o eliminar su información. Si desea ejercer estos derechos, por favor contáctenos a través de los detalles proporcionados a continuación.
        
        6. Enlaces a Otros Sitios Web
        Nuestro Sitio Web puede contener enlaces a otros sitios web que no están bajo nuestro control. No somos responsables de las prácticas de privacidad de esos sitios web. Le recomendamos que lea las políticas de privacidad de cualquier sitio web de terceros que visite.
        
        7. Cambios en la Política de Privacidad
        Podemos actualizar esta Política de Privacidad de vez en cuando para reflejar cambios en nuestras prácticas o en la legislación aplicable. Publicaremos cualquier cambio en esta página y le notificaremos cuando sea necesario. Su uso continuado del Sitio Web después de la publicación de cambios constituye su aceptación de los términos revisados.
        
        8. Contacto
        Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad, o si desea ejercer sus derechos relacionados con su información personal, por favor contáctenos a:
        
        AutoPartes
        Dirección: Alvear Tower
        Correo Electrónico: Autopartes123@gmail.com
    </p>
    
</div>

{% endblock %}