{% extends "App1/base.html" %}

{% load static %}

{% block title %}
    Terminos y Condiciones
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <h1>Términos y Condiciones</h1>
    <p>
        Términos y Condiciones
        1. Aceptación de los Términos
        Al acceder y utilizar este sitio web (en adelante, "el Sitio"), usted acepta estar sujeto a los siguientes Términos y Condiciones. Si no está de acuerdo con alguno de estos términos, le pedimos que no utilice el Sitio.
        
        2. Modificaciones
        Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Cualquier cambio será publicado en esta página y entrará en vigor inmediatamente. Su uso continuado del Sitio después de la publicación de cambios constituye su aceptación de dichos cambios.
        
        3. Uso del Sitio
        El Sitio está destinado a fines legales y de conformidad con las leyes aplicables. Usted se compromete a utilizar el Sitio de manera que no infrinja, perjudique o interfiera con los derechos de terceros o que viole cualquier ley aplicable.
        
        4. Propiedad Intelectual
        Todo el contenido del Sitio, incluyendo pero no limitado a textos, gráficos, logotipos, imágenes y software, es propiedad de [Nombre de la Empresa] o de sus licenciantes y está protegido por las leyes de propiedad intelectual. Usted no puede reproducir, distribuir, modificar, exhibir públicamente ni realizar ninguna otra actividad con el contenido del Sitio sin la autorización previa por escrito de [Nombre de la Empresa].
        
        5. Registro de Usuario
        Para acceder a ciertas funciones del Sitio, es posible que deba registrarse y crear una cuenta. Usted es responsable de mantener la confidencialidad de sus credenciales de inicio de sesión y de todas las actividades que se realicen bajo su cuenta. Nos reservamos el derecho de cancelar su cuenta en caso de uso indebido o violación de estos Términos y Condiciones.
        
        6. Enlaces a Sitios de Terceros
        El Sitio puede contener enlaces a sitios web de terceros que no están bajo nuestro control. No somos responsables del contenido, las políticas de privacidad o las prácticas de dichos sitios. El acceso a estos sitios de terceros es bajo su propio riesgo.
        
        7. Exención de Responsabilidad
        El Sitio se proporciona "tal cual" y "según disponibilidad". No garantizamos que el Sitio estará disponible en todo momento, que será libre de errores o que cumplirá con sus expectativas. Excluimos todas las garantías y condiciones, expresas o implícitas, en la máxima medida permitida por la ley.
        
        8. Limitación de Responsabilidad
        En la medida máxima permitida por la ley aplicable, AutoPartes no será responsable de ningún daño indirecto, incidental, especial o consecuente que resulte de su uso del Sitio o de cualquier contenido o producto obtenido a través del Sitio.
        
        9. Indemnización
        Usted acepta indemnizar y mantener a AutoPartes, sus afiliados, directores, empleados y agentes libres de cualquier reclamación, demanda, pérdida, responsabilidad, daños, costos y gastos (incluidos honorarios legales) que resulten de su uso del Sitio o de su violación de estos Términos y Condiciones.
        
        10. Ley Aplicable
        Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes de Argentina. Cualquier disputa que surja en relación con estos Términos y Condiciones estará sujeta a la jurisdicción exclusiva de los tribunales ubicados en [Ciudad, País o Estado].
        
        11. Contacto
        Si tiene alguna pregunta sobre estos Términos y Condiciones, por favor contáctenos a través de autopartes123@gmail.com.
    </p>
</div>

{% endblock %}